@import "tailwindcss";


@font-face {
    font-family: Kanit;
    src: url(./assets/fonts/Kanit-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme{
    --font-kanit: "Kanit", sans-serif;
}